Allow 

Test `1` in suite `free-busy reports` of file `scripts/tests/CalDAV/availability.xml` uses a `dataString` verifier, in which the existence of the string `FREEBUSY;FBTYPE=BUSY:$now.year.1:0104T170000Z/PT1H` is checked. 

However, as the same period can also be expressed as `period-explicit` ([RFC 5545, section 3.3.9](https://tools.ietf.org/html/rfc5545#section-3.3.9)), this should be considered appropriately by the test, so that a string `FREEBUSY;FBTYPE=BUSY:$now.year.1:0104T170000Z/$now.year.1:0104T180000Z` wouldn't fail the test either.